@page "/fetchdata"

<PageTitle>Gaming Laptops</PageTitle>

@using MyBlazor.Data

<h1>Gaming Laptops</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (gaminglaptops == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Brand</th>
                <th>RAM</th>
                <th>GPU</th>
                <th>CPU</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gaminglaptop in gaminglaptops)
            {
                @if (updateId == gaminglaptop.Id)
                {
                    <tr>
                        <td><button @onclick="()=>{gl = gaminglaptop;Update();}">Update</button></td>
                        <td><input type="text" @bind="gaminglaptop.Name"></td>
                        <td><input type="text" @bind="gaminglaptop.Brand"></td>
                        <td><input type="text" @bind="gaminglaptop.RAM"></td>
                        <td><input type="text" @bind="gaminglaptop.GPU"></td>
                        <td><input type="text" @bind="gaminglaptop.CPU"></td>
                        <td><input type="text" @bind="gaminglaptop.Price"></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td><button class="button-77" role="button" @onclick="()=>updateId = gaminglaptop.Id">Edit</button><button class="button-77" role="button" @onclick="()=>Delete(gaminglaptop.Id)">X</button>  @gaminglaptop.Id</td>
                        <td>@gaminglaptop.Name</td>
                        <td>@gaminglaptop.Brand</td>
                        <td>@gaminglaptop.RAM</td>
                        <td>@gaminglaptop.GPU</td>
                        <td>@gaminglaptop.CPU</td>
                        <td>@gaminglaptop.Price</td>
                    </tr>
                }
            }
            <tr>
                <td><button @onclick="AddNew">Add</button></td>
                <td><input type="text" placeholder="Name..." @bind="gl.Name"></td>
                <td><input type="text" placeholder="Brand..." @bind="gl.Brand"></td>
                <td><input type="text" placeholder="RAM..." @bind="gl.RAM"></td>
                <td><input type="text" placeholder="GPU..." @bind="gl.GPU"></td>
                <td><input type="text" placeholder="CPU..." @bind="gl.CPU"></td>
                <td><input type="text" placeholder="Price..." @bind="gl.Price"></td>
            </tr>
        </tbody>
    </table>
}

@code {
    int? updateId;
    GamingLaptop? gl = new();
    private List<GamingLaptop>? gaminglaptops =
        new GamingLaptopService().ReadGamingLaptops("SELECT * FROM GamingLaptop");

    private void AddNew()
    {
        new GamingLaptopService().CreateGamingLaptop(gl);
        gl = new();
        gaminglaptops = new GamingLaptopService().ReadGamingLaptops("SELECT * FROM GamingLaptop");
    }
    private void Delete(int id)
    {
        new GamingLaptopService().DeleteGamingLaptop(id);
        gaminglaptops = new GamingLaptopService().ReadGamingLaptops("SELECT * FROM GamingLaptop");
    }

    private void Update(){
        new GamingLaptopService().UpdateGamingLaptop(gl);
        gl = new();
        updateId = null;
        gaminglaptops = new GamingLaptopService().ReadGamingLaptops("SELECT * FROM GamingLaptop");
    }
}
