@page "/fetchdata"

<PageTitle>Gaming Laptops</PageTitle>

@using MyBlazor.Data

<h1>Gaming Laptops</h1>

<p>This component demonstrates fetching data from a service.</p>

<select @onchange="OrderBy">

    @foreach (var item in orderList)
    {
        <option value=@item>@item</option>
    }
</select>

@if (gaminglaptops == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Brand</th>
                <th>RAM</th>
                <th>GPU</th>
                <th>CPU</th>
                <th>Price</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (GamingLaptop item in gaminglaptops)
            {
                @if (updateId == item.Id)
                {
                    <tr>
                        <td><button @onclick="()=>{gl = item;Update();}">Update</button></td>

                        <td><input type="text" @bind="item.Name"></td>
                        <td><input type="text" @bind="item.Brand"></td>
                        <td><input type="text" @bind="item.RAM"></td>
                        <td><input type="text" @bind="item.GPU"></td>
                        <td><input type="text" @bind="item.CPU"></td>
                        <td><input type="text" @bind="item.Price"></td>
                        <td><input type="text" @bind="item.ImageUrl"></td>

                    </tr>
                }
                else
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Brand</td>
                        <td>@item.RAM</td>
                        <td>@item.GPU</td>
                        <td>@item.CPU</td>
                        <td>@item.Price</td>
                        <td><img src=@item.ImageUrl style="max-height:64px"/></td>
                        <td style="min-width:200px"><img src="editing.png" style="max-height:32px" @onclick="()=>updateId = item.Id"/>
                            <button class="button-77" role="button" @onclick="()=>Delete(item.Id)">Slet</button>
                        </td>
                    </tr>
                }
            }
            <tr>
                <td><button @onclick="AddNew">Add</button></td>
                <td><input type="text" placeholder="Name..." @bind="gl.Name"></td>
                <td><input type="text" placeholder="Brand..." @bind="gl.Brand"></td>
                <td><input type="text" placeholder="RAM..." @bind="gl.RAM"></td>
                <td><input type="text" placeholder="GPU..." @bind="gl.GPU"></td>
                <td><input type="text" placeholder="CPU..." @bind="gl.CPU"></td>
                <td><input type="text" placeholder="Price..." @bind="gl.Price"></td>
                <td><input type="text" placeholder="ImageUrl" @bind="gl.ImageUrl"></td>
            </tr>
        </tbody>
    </table>
}

@code {
    List<string> orderList = new() { "Id", "Name", "Price", "Ram", "GPU", "CPU" };

    string ordered = "Name";

    int? updateId;
    GamingLaptop? gl = new();
    private List<GamingLaptop>? gaminglaptops =
        new GamingLaptopService().ReadGamingLaptops("SELECT * FROM GamingLaptop");

    private void AddNew()
    {
        new GamingLaptopService().CreateGamingLaptop(gl);
        gl = new();
        GetList();
    }
    private void Delete(int id)
    {
        new GamingLaptopService().DeleteGamingLaptop(id);
        GetList();
    }

    private void Update()
    {
        new GamingLaptopService().UpdateGamingLaptop(gl);
        gl = new();
        updateId = null;
        GetList();
    }
    private void GetList()
    {
        gaminglaptops = new GamingLaptopService().ReadGamingLaptops($"SELECT * FROM GamingLaptop ORDER BY {ordered}");

    }

    private void OrderBy(ChangeEventArgs e)
    {
        if (e != null) ordered = e.Value.ToString();
        GetList();
    }
}
